@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, greenyellow, white, greenyellow);
    font-family: "Pt Sans Narrow";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-image: url('../multimedia/Fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

#img2 {
    transform: scaleX(-1);
    width: 10vh;
    margin-right: 0;
    object-fit: cover;
}

img {
    width: 10vh;
    margin-right: 5vw;
}

img [alt="logo"] {
    width: 10vh;
    margin-right: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Bungee", sans-serif;
}

nav > a {
    text-decoration: none;
    margin-right: 5vw;
    color: greenyellow;    
    padding: 1.5vh 1vw;
    font-size: 2vw;
}

nav > a:hover {
    background: linear-gradient(to bottom, greenyellow, green);
    color: black;
}

#MenuInicio {
    color: white;
}

main {
    margin-top: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
}

#inicio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo span {
    font-family: "Bungee", sans-serif;
    font-size: 5em;
    color: green;
}

#titulo {
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1vh;
}

#inicio h2 {
    font-family: "Bungee", sans-serif;
    font-size: 2em;
    color: green;
}

#barraMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#barraMenu > div {
    flex: 1;
}


#tituloBoton {
    width: 25vw;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}

#tituloBoton > h1 {
    font-family: "Bungee", sans-serif;
    font-size: 1.3rem;
    color: green;
}

#botonCategorias {
    font-family: "Pt Sans Narrow";
    font-size: 1.5vw;
    width: 13vw;
    height: 2.2vw;
    min-width: 30px;
    min-height: 30px;
    background: greenyellow;
    border-radius: 7px;
    font-weight: bolder;
    margin-left: 1vw;
}

#botonCategorias:hover {
    background: white;
    color: black;
}

#botonCategorias:active {
    background: black;
    color: greenyellow;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 2.2vw;
    min-width: 30px;
    min-height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.search-input {
    width: 35vw;
    height: 2.2vw;
    padding: 10px 40px; 
    border-radius: 7px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    outline: none;
    border: 4px solid black;
}

.search-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    background-image: url('../multimedia/lupa.png');
    background-size: contain; 
    background-repeat: no-repeat;
    width: 1.4vw;
    height: 1.4vw;
    cursor: pointer;
}

#iconosBarra {
    margin-right: -4vw;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: end;
    gap: -4vw;
}

.iconosBarra {
    width: 2.2vw;
    min-width: 30px;
    min-height: 30px;
    height: 2.2vw;
    cursor: pointer;
}

.tipoProducto {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 1vw; 
}

.tipoProducto::before,
.tipoProducto::after {
    content: "";
    flex: 1; 
    height: 3px; 
    background-color: green;
    margin: 0 1vw;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
}

article {
    background: linear-gradient(to bottom, white, white, greenyellow);
    box-shadow: 0 5px 10px black;
    border-radius: 7px;
    border: 8px solid white;
    flex-direction: column;
    display: flex;
    flex: 6;
    width: 15.3vw;
    height: 58vh;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    article {
        flex: 1 0 30%;
        max-width: 30%;
        height: auto;
    }
}

@media (max-width: 800px) {
    article {
        flex: 1 0 45%; 
        max-width: 45%;
        height: auto;
    }
}

.contenedorImagen {
    overflow: hidden;
}

.imagenProducto {
    width: 100%; 
    max-width: 14.5vw; 
    min-width: 150px;
    height: auto; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
}

.imagenProducto {
    transition: transform 0.3s ease-in-out;
}

.imagenProducto:hover {
    -webkit-transform: scale(1.1);transform:scale(1.1);
}

article h3 {
    height: 15vh;
    font-size: 1.2rem;
}

.precios {
    display: flex;
    flex-direction: row;
    height: 4vh;
    gap: 1vw;
}

.descuento {
    color: #bf0019;
    font-size: 1.5em;
    font-weight: bold;
}

.precio {
    color:gray;
    text-decoration: line-through;
}

.opiniones {
    height: 4vh;
}
.opiniones > span {
    font-weight: bold;
}

.logoEmoji {
    width: 30px;
    height: 30px;
}

.envio {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    font-weight: bold;
    gap: 1vw;
}

.envio li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5vw;
}

.envio li::before {
    content: url('../multimedia/RazerInc.png'); 
    display: inline-block;
    margin-right: 0.5vw;
    width: 20px;
    height: auto;
}

.verMas {
    font-family: "Bungee", sans-serif;
    height: 6vh;
    width: 10vw;
    min-width: 150px;
    background: greenyellow;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px black;
}

.verMas:hover {
    background: white;
    color: black;
}

.verMas:active {
    background: black;
    color: greenyellow;
}

footer {
    background-image: url('../multimedia/Fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 6vh;
    display: grid;
    grid-template-columns: 1fr auto 0.89fr;
    align-items: center; 
    padding: 0 15px;
}

footer p {
    grid-column: 1;
    text-align: left;
    color: greenyellow;
    font-size: 1em;
    margin: 0;
}

footer .icon-container {
    width: 100%;
    grid-column: 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
}

footer .iconos {
    height: 3vh;
    width: 3vh; 
}